body{
    background-image: url(./image/spitfire-.jp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    background-color: grey;
}
.row{
    color:black;
    font-style:oblique ;
    font-weight: bold;
    padding-top: 30px;
    margin: 0px;
    margin-top: -10px;
    font-size: 15px;
    line-height: 1.875em;
    
}
