body{
    background-image: url(./image/spitfire-.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
}
.landingtext{
color: black;
text-emphasis-style: bold;
}