body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    background-color:#f14799;
}
.row{
    color:black;
    font-style:oblique ;
    font-weight: bold;
    padding-top: 30px;
    margin: 0px;
    margin-top: -10px;
    font-size: 15px;
    line-height: 1.875em;
    
}
.footer ul li{
    list-style-type: none;
    display: inline;
    margin-left: 50px;
    align-items: center;
    float: left;
padding-left: 120px;
  }
  .footer{
    background-color: #F14799;
    text-align: center;
    float: left;
  }
